################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Business.Entities/obj
/Business.Entities/bin/Debug
/.vs
