<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <connectionStrings>

    <add name="ConnStringLocal" providerName="System.Data.SqlClient" connectionString="Server=ESMERALDA; Database=Academia; Integrated Security=SSPI" />
    <!--; Integrated Security=true; User=net; Password=net;"/>-->
    <!--Data Source=DESKTOP-VDVRD36\SQLEXPRESSACG;Initial Catalog=TSQLV4;Provider=SQLNCLI11.1;Integrated Security=SSPI;Auto Translate=False;-->

    <!--<add  name="ConnStringLocal"
          providerName="System.Data.SqlClient"
          connectionString="Server=localhost\SQLEXPRESS; Database=Academia; Integrated Security=SSPI"/>-->
    
    <add name="ConnStringExpress" providerName="System.Data.SqlClient" connectionString="Server=localhost\SQLEXPRESS; Database=tp2_net; Integrated Security=true; User=net; Password=net;" />

    <add name="ConnStringServerISI" providerName="System.Data.SqlClient" connectionString="Server=serverisi; Database=tp2_net; Integrated Security=true; User=net; Password=net;" />
  
  </connectionStrings>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.ReportViewer.WebForms" publicKeyToken="89845dcd8080cc91" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.ReportViewer.DataVisualization" publicKeyToken="89845dcd8080cc91" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>

</configuration>